<footer class="padding-left-right">
    <div class="footer_left">
        <a href="index.html"><img src="img/logo_white.png" alt="" class="footer_logo"></a>
        <div class="social_media">
            <a href="https://www.instagram.com/"><img src="img/instagram_white.png" alt=""></a>
            <a href="https://www.facebook.com/"> <img src="img/facebook_white.png" alt=""></a>
            <a href="https://twitter.com/home"><img src="img/twitter_white.png" alt=""></a>
        </div>

    </div>
    <div class="footer_center"></div>
    <div class="footer_right">
        <a href="privacy.html">Datenschutz</a>
        <a href="imprint.html">Impressum</a>
        <a href="contact.html">Kontakt</a>
        <a href="index.html">Start</a>
    </div>
</footer>